/vendor
/node_modules
/bower_components
/.idea
/.settings
/.trace
/storage/logs
/storage/debugbar
/database/inserts
vendor/
node_modules/
bower_components/
.idea/
.settings/
.trace/
storage/logs/
storage/debugbar/
database/inserts/
.env
.buildpath
.DS_Store
.project
desktop.ini
composer.json
composer.lock
ssh-agent.exe.stackdump
het2_rev5-6-small.sql
het2_rev5-6-very-small.sql
testerrors
