/vendor
/node_modules
/bower_components
/.idea
/.settings
/storage/logs
/storage/debugbar
vendor/
node_modules/
bower_components/
.idea/
.settings/
storage/logs/
storage/debugbar/
.env
.buildpath
.DS_Store
.project
desktop.ini
composer.json
composer.lock
ssh-agent.exe.stackdump
het2_rev5-6-small.sql
testerrors
